---
import PatientCaseFile from "./PatientCaseFile.astro";
import PinchToZoom from "../Pinch-to-zoom.astro";
import PatientCaseFilesWrapper from "./PatientCaseFilesWrapper.astro";
---

<div id="case-files-modal-template" style="display: none;">
  <div class="case__files_modal" id="case-files-modal">
    <button data-fancybox-close class="case__files_modal_close-button">X</button
    >
    <div class="case__files_modal_wrapper">
      <PatientCaseFilesWrapper>
        <PatientCaseFile
          id="1"
          name="Nathan"
          age={57}
          gender="M"
          description="A 57-year-old male has gone undiagnosed for 30+ years. Does Nathan’s file remind you of any of your current patients?"
          photo="/assets/images/case-files/nathan/photo-nathan-mobile.png"
        >
          <Fragment slot="medical">
            <ul>
              <li class="item">
                2 nontraumatic fractures: Age 13, femur; age 16, metatarsals
              </li>
              <li class="item">
                Reports of slow healing fractures, even at young age
              </li>
              <li class="item">Age 50: Kidney stones</li>
              <li class="item">
                History of poor dentition and weak/loose teeth
              </li>
              <li class="item">
                Recent diagnosis of pseudogout/CPPD/chondrocalcinosis
              </li>
            </ul>
          </Fragment>
          <Fragment slot="family">
            <ul>
              <li class="item">Mother: Osteoporosis</li>
              <li class="item">
                Father: Hypertension, myocardial infarction at 67
              </li>
            </ul>
          </Fragment>
          <Fragment slot="symptoms">
            <ul>
              <li class="item">Bone pain in back and thighs</li>
              <li class="item">Chronic fatigue</li>
              <li class="item">Current nontraumatic hairline fracture</li>
              <li class="item">Reports of anxiety and depressed mood</li>
            </ul>
          </Fragment>
          <Fragment slot="medications">
            <ul>
              <li class="item">Uses over-the-counter calcium and vitamin D supplements daily (not physician-directed)</li>
              <li class="item">Reports of self-medicating daily with NSAIDs</li>
            </ul>
          </Fragment>
          <Fragment slot="results">
            <h4 class="results__title">CMP test results from:</h4>
            <h5>Today</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>10.6</td>
                  <td>High</td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>6.5</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.6</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>83</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h5>6 months ago</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>9.8</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>6.9</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>3.9</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>35</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h5>1 year ago</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>10.2</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>7.1</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.0</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>32</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <ul>
              <li class="item">
                High vitamin B<sub>6</sub> level shown at test 6 months ago
              </li>
              <li class="item">
                <span class="text--italic">ALPL</span> genetic test: Variant of uncertain
                significance (VUS) identified
              </li>
            </ul>
            <PinchToZoom id="pt-1-image-1" useDefaultButton={false}>
              <div class="rad__thumbnail" style="max-width: 115px;">
                <picture>
                  <button
                    data-panzoom-action="zoomToFull"
                    data-content-id="pt-1-image-1"
                    class="button button--pinch-to-zoom"></button>
                  <source
                    srcset="/assets/images/case-files/nathan/nathan-rad-1-desktop.png"
                    media="(min-width: 768px)"
                  />
                  <img
                    src="/assets/images/case-files/nathan/nathan-rad-1-mobile.png"
                    alt=""
                  />
                </picture>
                <div class="patient">
                  <p>Femur fracture <br /> age 13</p>
                </div>
              </div>
            </PinchToZoom>
            <PinchToZoom id="pt-1-image-2" useDefaultButton={false}>
              <div class="rad__thumbnail" style="max-width: 196px;">
                <picture>
                  <button
                    data-panzoom-action="zoomToFull"
                    data-content-id="pt-1-image-2"
                    class="button button--pinch-to-zoom"></button>
                  <source
                    srcset="/assets/images/case-files/nathan/nathan-rad-2-desktop.png"
                    media="(min-width: 768px)"
                  />
                  <img
                    src="/assets/images/case-files/nathan/nathan-rad-2-mobile.png"
                    alt=""
                  />
                </picture>
                <div class="patient">
                  <p>Metatarsal fracture <br /> age 16</p>
                </div>
              </div>
            </PinchToZoom>
            <PinchToZoom id="pt-1-image-3" useDefaultButton={false}>
              <div class="rad__thumbnail" style="max-width: 138px;">
                <picture>
                  <button
                    data-panzoom-action="zoomToFull"
                    data-content-id="pt-1-image-3"
                    class="button button--pinch-to-zoom"></button>
                  <source
                    srcset="/assets/images/case-files/nathan/nathan-rad-3-desktop.png"
                    media="(min-width: 768px)"
                  />
                  <img
                    src="/assets/images/case-files/nathan/nathan-rad-3-mobile.png"
                    alt=""
                  />
                </picture>
                <div class="patient">
                  <p>Tibial fracture <br /> age 57</p>
                </div>
              </div>
            </PinchToZoom>
          </Fragment>
          <Fragment slot="notes">
            <ul>
              <li class="item">N/A</li>
            </ul>
          </Fragment>
        </PatientCaseFile>
        <PatientCaseFile
          id="2"
          name="Anna"
          age={35}
          gender="F"
          description="A 35-year-old female born prematurely. Does Anna’s file remind you of any of your current patients?"
          photo="/assets/images/case-files/anna/photo-anna-mobile.png"
        >
          <Fragment slot="medical">
            <ul>
              <li class="item">Born prematurely at 32 weeks</li>
              <li class="item">History of developmental delays</li>
              <li class="item">Early loss of baby teeth with root intact</li>
              <li class="item">Delayed eruption of permanent teeth</li>
              <li class="item">General short stature</li>
              <li class="item">History of lower extremity weakness</li>
            </ul>
          </Fragment>
          <Fragment slot="family">
            <ul>
              <li class="item">
                Mother of <a
                  class="text--underline go__to_patient"
                  data-patient="3">Hannah</a
                >
              </li>
              <li class="item">
                Mother: Osteoporosis diagnosis in her early 50s
              </li>
            </ul>
          </Fragment>
          <Fragment slot="symptoms">
            <ul>
              <li class="item">Chronic bone and joint pain, myalgia</li>
              <li class="item">Morning stiffness</li>
              <li class="item">
                Symptoms worse in the morning and in cold weather
              </li>
              <li class="item">
                Reports of frequent headaches and depressed mood
              </li>
            </ul>
          </Fragment>
          <Fragment slot="medications">
            <ul>
              <li class="item">Daily NSAID taken to address chronic pain</li>
              <li class="item">
                Hydrocodone taken as needed for severe pain episodes
              </li>
            </ul>
          </Fragment>
          <Fragment slot="results">
            <h4 class="results__title">CMP test results from:</h4>
            <h5>Today</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>9.9</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>7.1</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.1</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>34</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h5>3 months ago</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>9.8</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>7.5</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.2</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>29</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <ul>
              <li class="item">
                <span class="text--italic">ALPL</span> genetic test: Autosomal recessive
                inheritance
              </li>
            </ul>
            <div class="zoom-wrapper">
              <PinchToZoom id="pt-2-image-1" useDefaultButton={false}>
                <div class="rad__thumbnail" style="max-width: 305px;">
                  <picture>
                    <button
                      data-panzoom-action="zoomToFull"
                      data-content-id="pt-2-image-1"
                      class="button button--pinch-to-zoom"></button>
                    <source
                      srcset="/assets/images/case-files/anna/anna-rad-1-desktop.png"
                      media="(min-width: 768px)"
                    />
                    <img
                      src="/assets/images/case-files/anna/anna-rad-1-mobile.png"
                      alt=""
                    />
                  </picture>
                  <div class="patient patient--anna-mobile-1">
                    <p>
                      Radiograph showing enlarged pulp chambers and shape abnormalities.
                    </p>
                  </div>
                  <p  class="patient--small patient--anna-mobile-1">
                    <small>
                      <span class="text--underline">Dental manifestations of hypophosphatasia in children and the effects of enzyme replacement therapy on dental status: A series of clinical cases</span> by Larisa Kiselnikova is licensed under <span class="text--underline">CC BY 4.0.</span>
                    </small>
                  </p>
                </div>
              </PinchToZoom>
              <PinchToZoom id="pt-2-image-2" useDefaultButton={false}>
                <div class="rad__thumbnail" style="max-width: 195px;">
                  <picture>
                    <button
                      data-panzoom-action="zoomToFull"
                      data-content-id="pt-2-image-2"
                      class="button button--pinch-to-zoom"></button>
                    <source
                      srcset="/assets/images/case-files/anna/anna-rad-2-desktop.png"
                      media="(min-width: 768px)"
                    />
                    <img
                      src="/assets/images/case-files/anna/anna-rad-2-mobile.png"
                      alt=""
                    />
                  </picture>
                  <div class="patient patient--anna-mobile-2">
                    <p>Early loss of baby teeth with root intact</p>
                  </div>
                </div>
              </PinchToZoom>
            </div>
          </Fragment>
          <Fragment slot="notes">
            <ul>
              <li class="item">
                Patient has an executed “pain contract” with physician's office
                due to history of opioid use
              </li>
            </ul>
          </Fragment>
        </PatientCaseFile>
        <PatientCaseFile
          id="3"
          name="Hannah"
          age={7}
          gender="F"
          description="A 7-year-old female with ALP levels of 138. Does Hannah’s file remind you of any of your current patients?"
          photo="/assets/images/case-files/hannah/photo-hannah-mobile.png"
        >
          <Fragment slot="medical">
            <ul>
              <li class="item">Age 4: History of nontraumatic tooth loss</li>
              <li class="item">Delay in walking milestone</li>
              <li class="item">
                Age 5: Bout with streptococcal pharyngitis, treated with
                antibiotics
              </li>
            </ul>
          </Fragment>
          <Fragment slot="family">
            <ul>
              <li class="item">
                Mother: <a
                  class="text--underline go__to_patient"
                  data-patient="2">Anna</a
                >
                <ul>
                  <li class="item">
                    History of early tooth loss, delayed eruption of permanent
                    teeth, and chronic pain
                  </li>
                </ul>
              </li>
              <li class="item">
                Father: No significant medical history to report
              </li>
            </ul>
            <PinchToZoom id="pt-3-image-1" useDefaultButton={false}>
              <div class="rad__thumbnail" style="max-width: 180px;">
                <picture>
                  <button
                    data-panzoom-action="zoomToFull"
                    data-content-id="pt-3-image-1"
                    class="button button--pinch-to-zoom"></button>
                  <source
                    srcset="/assets/images/case-files/hannah/hanna-rad-1-desktop.png"
                    media="(min-width: 768px)"
                  />
                  <img
                    src="/assets/images/case-files/hannah/hanna-rad-1-mobile.png"
                    alt=""
                  />
                </picture>
                <div class="patient">
                  <p class="patient--color-black">Nontraumatic tooth loss at age 4</p>
                </div>
              </div>
            </PinchToZoom>
            <p class="pt-3-image-1--permissions">
              Reproduced with permission from Kiselnikova L, et al. <em>Clinical Case Reports.</em> 2020;8(5):911-918.
            </p>
          </Fragment>
          <Fragment slot="symptoms">
            <ul>
              <li class="item">Short stature</li>
              <li class="item">Mild knock knees</li>
              <li class="item">Tired for past 3 months</li>
              <li class="item">
                Struggling to keep up with peers in sports/outdoor activities
              </li>
              <li class="item">Impaired gait/mobility</li>
              <li class="item">Difficulty sleeping</li>
            </ul>
          </Fragment>
          <Fragment slot="medications">
            <ul>
              <li class="item">None</li>
            </ul>
          </Fragment>
          <Fragment slot="results">
            <h4 class="results__title">CMP test results from:</h4>
            <h5>Today</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>9.3</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>7.9</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.2</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>138</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h5>1 year ago</h5>
            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>9.1</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>8.1</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.2</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>130</td>
                  <td></td>
                </tr>
              </tbody>
            </table>

            <div class="zoom-wrapper">
              <PinchToZoom id="pt-3-image-3" useDefaultButton={false}>
                <div class="rad__thumbnail" style="max-width: 200px;">
                  <picture>
                    <button
                      data-panzoom-action="zoomToFull"
                      data-content-id="pt-3-image-3"
                      class="button button--pinch-to-zoom"></button>
                    <source
                      srcset="/assets/images/case-files/hannah/hanna-rad-2-desktop.png"
                      media="(min-width: 768px)"
                    />
                    <img
                      src="/assets/images/case-files/hannah/hanna-rad-2-mobile.png"
                      alt=""
                    />
                  </picture>
                  <div class="patient patient--hannah-mobile">
                    <p><span class="zoom-text">Currently presents with </span>mild knock knees</p>
                    <p class="patient--main-not-capitalize">Mild knock knees</p>
                  </div>
                </div>
              </PinchToZoom>
              <PinchToZoom id="pt-3-image-2" useDefaultButton={false}>
                <div class="rad__thumbnail" style="max-width: 200px;">
                  <picture>
                    <button
                      data-panzoom-action="zoomToFull"
                      data-content-id="pt-3-image-2"
                      class="button button--pinch-to-zoom"></button>
                    <source
                      srcset="/assets/images/case-files/hannah/hanna-rad-1-desktop.png"
                      media="(min-width: 768px)"
                    />
                    <img
                      src="/assets/images/case-files/hannah/hanna-rad-1-mobile.png"
                      alt=""
                    />
                  </picture>
                  <div class="patient patient--hannah-mobile-2">
                    <p class="patient--color-black patient--main-not-capitalize">Nontraumatic tooth loss at age 4</p>
                  </div>
                </div>
              </PinchToZoom>
            </div>

            <p class="pt-3-image-1--permissions">
              <span class="text--underline">Dental manifestations of hypophosphatasia in children and the effects of enzyme replacement therapy on dental status: A series of clinical cases</span> by Larisa Kiselnikova is licensed under <span class="text--underline">CC BY 4.0.</span>
            </p>
          </Fragment>
          <Fragment slot="notes">
            <ul>
              <li class="item">N/A</li>
            </ul>
          </Fragment>
        </PatientCaseFile>
        <PatientCaseFile
          id="4"
          name="Sarah"
          age="7 months"
          gender="F"
          description="A 7-month-old female with vitamin B-responsive seizures at birth. Does Sarah’s file remind you of any of your current patients?"
          photo="/assets/images/case-files/sarah/photo-sarah-mobile.png"
        >
          <Fragment slot="medical">
            <ul>
              <li class="item">Vitamin B-responsive seizures at birth</li>
              <li class="item">
                History of craniosynostosis--corrective measures taken at 3
                months
              </li>
            </ul>
          </Fragment>
          <Fragment slot="family">
            <ul>
              <li class="item">Mother: No significant medical history</li>
              <li class="item">Father: No significant medical history</li>
              <li class="item">
                Siblings: 2 older siblings with no remarkable medical history
                (ages 4 and 10 years)
              </li>
            </ul>
          </Fragment>
          <Fragment slot="symptoms">
            <ul>
              <li class="item">Low weight and height</li>
              <li class="item">Decreased head size</li>
              <li class="item">Diagnosis of nutritional rickets</li>
              <li class="item">Thoracic deformity</li>
            </ul>
          </Fragment>
          <Fragment slot="medications">
            <ul>
              <li class="item">Vitamin D supplement</li>
            </ul>
          </Fragment>
          <Fragment slot="results">
            <h4 class="results__title">CMP test results from:</h4>
            <h5>Today</h5>

            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>10</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>7.1</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>3.9</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>93</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <h5>6 months ago</h5>

            <table class="result-table">
              <thead>
                <tr>
                  <th colspan="2">TEST</th>
                  <th>RESULT</th>
                  <th>FLAG</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td colspan="2">Calcium, mg/dL</td>
                  <td>10.6</td>
                  <td>High</td>
                </tr>
                <tr>
                  <td colspan="2">Protein, g/dL</td>
                  <td>7.5</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Albumin, g/dL</td>
                  <td>4.2</td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2">Alkaline phosphatase, IU/L</td>
                  <td>87</td>
                  <td></td>
                </tr>
              </tbody>
            </table>
            <ul>
              <li class="item">
                High vitamin B<sub>6</sub> level shown at test 6 months ago
              </li>
              <li class="item">
                <span class="text--italic">ALPL</span> genetic test: Autosomal recessive
                inheritance
                <ul>
                  <li class="item">
                    Parental genetic testing reveals single gene variant in
                    mother and father
                  </li>
                  <li class="item">
                    Father's genetic variant reported as variant of uncertain
                    significance (VUS)
                  </li>
                </ul>
              </li>
            </ul>
            <PinchToZoom id="pt-4-image-1" useDefaultButton={false}>
              <div class="rad__thumbnail" style="max-width: 250px;">
                <picture>
                  <button
                    data-panzoom-action="zoomToFull"
                    data-content-id="pt-4-image-1"
                    class="button button--pinch-to-zoom"></button>
                  <source
                    srcset="/assets/images/case-files/sarah/sarah-asset-1-desktop.png"
                    media="(min-width: 768px)"
                  />
                  <img
                    src="/assets/images/case-files/sarah/sarah-asset-1-mobile.png"
                    alt=""
                  />
                </picture>
              </div>
            </PinchToZoom>
          </Fragment>
          <Fragment slot="notes">
            <ul>
              <li class="item">N/A</li>
            </ul>
          </Fragment>
        </PatientCaseFile>
      </PatientCaseFilesWrapper>
    </div>
  </div>
</div>
<script>
  /**
   * #################################################################################################
   * CaseFileModal
   * #################################################################################################
   */

  import { Fancybox } from "@fancyapps/ui";

  class casFileModal {
    caseModal: Fancybox;

    constructor() {
      this.caseModal = undefined;
    }

    open() {
      this.caseModal = new Fancybox([{ src: "case-files-modal" }], {
        autoFocus: false,
        defaultType: "inline",
        placeFocusBack: false,
        trapFocus: false,
        closeButton: false,
        height: "auto",
      });
    }

    close() {
      this.caseModal.close();
    }
  }

  document.addEventListener("DOMContentLoaded", () => {
    const openCaseFilesModal = new casFileModal();
    const buttons = document.querySelectorAll(".case-files-modal-trigger");
    buttons.forEach((button) => {
      button.addEventListener("click", () => {
        event.preventDefault();
        openCaseFilesModal.open();
      });
    });
  });
</script>
