---
import PinchToZoom from "../Pinch-to-zoom.astro";
import PatientCaseFileDesktop from "./PatientCaseFileDesktop.astro";
---

<div id="case-files-modal-template-desktop" data-active-tab="1" style="display: none;">
    <div class="case__files_modal --desktop" id="case-files-modal--desktop">
        <button data-fancybox-close class="case__files_modal_close-button"
            >×</button
        >
        <div class="case__files_modal_wrapper case__files_desktop_modal">
            <ul role="tablist" class="case-files__main-tabs">
                <li role="presentation">
                    <a
                        href="#case-p-panel-1"
                        role="tab"
                        id="case-link-to-panel-1"
                        aria-selected="true">Nathan, 57</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#case-p-panel-2"
                        role="tab"
                        id="case-link-to-panel-2"
                        tabindex="-1">Anna, 35</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#case-p-panel-3"
                        role="tab"
                        id="case-link-to-panel-3"
                        tabindex="-1">Hannah, 7</a
                    >
                </li>
                <li role="presentation">
                    <a
                        href="#case-p-panel-4"
                        role="tab"
                        id="case-link-to-panel-4"
                        tabindex="-1">Sarah, 7 months</a
                    >
                </li>
            </ul>
            <div class="section-cases">
                <section
                    id="case-p-panel-1"
                    role="tabpanel"
                    aria-labelledby="case-p-panel-1"
                    aria-hidden="false"
                    tabindex="-1"
                >
                    <PatientCaseFileDesktop
                        name="Nathan"
                        age={57}
                        gender="Male"
                        description="A 57-year-old male has gone undiagnosed for 30+ years. Does Nathan’s file remind you of any of your current patients?"
                        photo="/assets/images/case-files/nathan/photo-nathan-desktop.png"
                    >
                        <Fragment slot="medical">
                            <ul>
                                <li class="item">
                                    2 nontraumatic fractures: Age 13, femur; age
                                    16, metatarsals
                                </li>
                                <li class="item">
                                    Reports of slow healing fractures, even at
                                    young age
                                </li>
                                <li class="item">Age 50: Kidney stones</li>
                                <li class="item">
                                    History of poor dentition and weak/loose
                                    teeth
                                </li>
                                <li class="item">
                                    Recent diagnosis of pseudogout/CPPD/ <br /> chondrocalcinosis
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="family">
                            <ul>
                                <li class="item">Mother: Osteoporosis</li>
                                <li class="item">
                                    Father: Hypertension, myocardial infarction
                                    at 67
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="symptoms">
                            <ul>
                                <li class="item">
                                    Bone pain in back and thighs
                                </li>
                                <li class="item">Chronic fatigue</li>
                                <li class="item">
                                    Current nontraumatic hairline fracture
                                </li>
                                <li class="item">
                                    Reports of anxiety and depressed mood
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="medications">
                            <ul>
                                <li class="item">
                                    Uses over-the-counter calcium and vitamin D <br
                                    /> supplements daily (not physician-directed)
                                </li>
                                <li class="item">
                                    Reports of self-medicating daily with NSAIDs
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="results">
                            <h4 class="results__title">
                                CMP test results from:
                            </h4>
                            <div class="table__tabs">
                                <ul
                                    role="tablist"
                                    class="modal__table_tabs_list"
                                >
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-1"
                                            role="tab"
                                            id="tab-link-table-1"
                                            class="modal__inner_tab_link"
                                            aria-selected="true">Today</a
                                        >
                                    </li>
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-2"
                                            role="tab"
                                            id="tab-link-table-2"
                                            class="modal__inner_tab_link"
                                            tabindex="-1">6 months ago</a
                                        >
                                    </li>
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-3"
                                            role="tab"
                                            id="tab-link-table-3"
                                            class="modal__inner_tab_link"
                                            tabindex="-1">1 year ago</a
                                        >
                                    </li>
                                </ul>
                                <section
                                    id="tab-table-1"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-1"
                                    aria-hidden="false"
                                    tabindex="-1"
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>10.6</p>
                                            <p>6.5</p>
                                            <p>4.6</p>
                                            <p>63</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>High</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    id="tab-table-2"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-2"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    hidden
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>9.8</p>
                                            <p>6.9</p>
                                            <p>3.9</p>
                                            <p>35</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    id="tab-table-3"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-3"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    hidden
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>10.2</p>
                                            <p>7.1</p>
                                            <p>4.0</p>
                                            <p>32</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <ul>
                                <li class="item">
                                    High vitamin B<sub>6</sub> level shown at test
                                    6 months ago
                                </li>
                                <li class="item">
                                    <em>ALPL</em> genetic test: Variant of uncertain
                                    <br /> significance (VUS) identified
                                </li>
                            </ul>
                            <div class="thumbnails">
                                <PinchToZoom
                                    id="pt-1-desktop-image-1"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 72px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-1-desktop-image-1"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/nathan/nathan-rad-1-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/nathan/nathan-rad-thumbnail-1.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient">
                                            <p class="patient--color-black">
                                                Femur fracture <br /> age 13
                                            </p>
                                        </div>
                                    </div>
                                </PinchToZoom>
                                <PinchToZoom
                                    id="pt-1-desktop-image-2"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 123px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-1-desktop-image-2"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/nathan/nathan-rad-2-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/nathan/nathan-rad-thumbnail-2.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient">
                                            <p>
                                                Metatarsal fracture <br /> age 16
                                            </p>
                                        </div>
                                    </div>
                                </PinchToZoom>
                                <PinchToZoom
                                    id="pt-1-desktop-image-3"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 122px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-1-desktop-image-3"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/nathan/nathan-rad-3-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/nathan/nathan-rad-3-mobile.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient">
                                            <p>Tibial fracture <br /> age 57</p>
                                        </div>
                                    </div>
                                </PinchToZoom>
                            </div>
                        </Fragment>
                        <Fragment slot="notes">
                            <ul>
                                <li class="item">N/A</li>
                            </ul>
                        </Fragment>
                    </PatientCaseFileDesktop>
                </section><!-- panel Nathan -->
                <section
                    id="case-p-panel-2"
                    role="tabpanel"
                    aria-labelledby="case-link-to-panel-2"
                    aria-hidden="true"
                    tabindex="-1"
                    hidden
                >
                    <PatientCaseFileDesktop
                        name="Anna"
                        age={35}
                        gender="Female"
                        description="A 35-year-old female born prematurely. Does Anna’s file remind you of any of your current patients?"
                        photo="/assets/images/case-files/anna/photo-anna-desktop.png"
                    >
                        <Fragment slot="medical">
                            <ul>
                                <li class="item">
                                    Born prematurely at 32 weeks
                                </li>
                                <li class="item">
                                    History of developmental delays
                                </li>
                                <li class="item">
                                    Early loss of baby teeth with root intact
                                </li>
                                <li class="item">
                                    Delayed eruption of permanent teeth
                                </li>
                                <li class="item">General short stature</li>
                                <li class="item">
                                    History of lower extremity weakness
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="family">
                            <ul>
                                <li class="item">
                                    Mother of <a
                                        class="custom__tab_link"
                                        data-tab-id="case-p-panel-3">Hannah</a
                                    >
                                </li>
                                <li class="item">
                                    Mother: Osteoporosis diagnosis in her early
                                    50s
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="symptoms">
                            <ul>
                                <li class="item">
                                    Chronic bone and joint pain, myalgia
                                </li>
                                <li class="item">Morning stiffness</li>
                                <li class="item">
                                    Symptoms worse in the morning and in cold
                                    weather
                                </li>
                                <li class="item">
                                    Reports of frequent headaches and depressed
                                    mood
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="medications">
                            <ul>
                                <li class="item">
                                    Daily NSAID taken to address chronic pain
                                </li>
                                <li class="item">
                                    Hydrocodone taken as needed for severe <br
                                    /> pain episodes
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="results">
                            <h4 class="results__title">
                                CMP test results from:
                            </h4>
                            <div class="table__tabs">
                                <ul
                                    role="tablist"
                                    class="modal__table_tabs_list"
                                >
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-4"
                                            role="tab"
                                            id="tab-link-table-4"
                                            class="modal__inner_tab_link"
                                            aria-selected="true">Today</a
                                        >
                                    </li>
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-5"
                                            role="tab"
                                            id="tab-link-table-5"
                                            class="modal__inner_tab_link"
                                            tabindex="-1">3 months ago</a
                                        >
                                    </li>
                                </ul>
                                <section
                                    id="tab-table-4"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-4"
                                    aria-hidden="false"
                                    tabindex="-1"
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>9.9</p>
                                            <p>7.1</p>
                                            <p>4.1</p>
                                            <p>34</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    id="tab-table-5"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-5"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    hidden
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>9.8</p>
                                            <p>7.5</p>
                                            <p>4.2</p>
                                            <p>29</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="thumbnails">
                                <PinchToZoom
                                    id="pt-2-desktop-image-1"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 227px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-2-desktop-image-1"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/anna/anna-rad-1-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/anna/anna-rad-1-mobile.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient patient--anna-rad patient--anna-rad-1">
                                            <p class="patient--delay-color">
                                                Delayed eruption of permanent teeth
                                            </p>
                                            <p>
                                                Radiograph showing enlarged pulp chambers and shape abnormalities.
                                            </p>
                                            <small>
                                                <span class="text--underline">Dental manifestations of hypophosphatasia in children and the effects of enzyme replacement therapy on dental status: A series of clinical cases</span> by Larisa Kiselnikova is licensed under <span class="text--underline">CC BY 4.0.</span>
                                            </small>
                                        </div>
                                    </div>
                                </PinchToZoom>
                                <PinchToZoom
                                    id="pt-2-desktop-image-2"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail rad__thumbnail--anna-2">
                                        <picture>
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-2-desktop-image-2"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/anna/anna-rad-2-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/anna/anna-rad-2-desktop.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient patient--anna-rad patient--anna-rad-2">
                                            <p>
                                                Early loss of baby teeth with <br
                                                /> root intact
                                            </p>
                                        </div>
                                    </div>
                                </PinchToZoom>
                            </div>
                        </Fragment>
                        <Fragment slot="notes">
                            <ul>
                                <li class="item">
                                    Patient has an executed “pain contract” with <br
                                    />
                                    physician's office due to history of opioid use
                                </li>
                            </ul>
                        </Fragment>
                    </PatientCaseFileDesktop>
                </section><!-- panel Anna -->
                <section
                    id="case-p-panel-3"
                    role="tabpanel"
                    aria-labelledby="case-link-to-panel-3"
                    aria-hidden="true"
                    tabindex="-1"
                    hidden
                >
                    <PatientCaseFileDesktop
                        name="Hannah"
                        age={7}
                        gender="Female"
                        description="A 7-year-old female with ALP levels of 138. Does Hannah’s file remind you of any of your current patients?"
                        photo="/assets/images/case-files/hannah/photo-hannah-desktop.png"
                    >
                        <Fragment slot="medical">
                            <ul>
                                <li class="item">
                                    Age 4: History of nontraumatic tooth loss
                                </li>
                                <li class="item">Delay in walking milestone</li>
                                <li class="item">
                                    Age 5: Bout with streptococcal pharyngitis, <br
                                    /> treated with antibiotics
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="family">
                            <ul style="margin-bottom: 1.5rem;">
                                <li class="item">
                                    Mother: <a
                                        class="custom__tab_link"
                                        data-tab-id="case-p-panel-2">Anna</a
                                    >
                                    <ul>
                                        <li class="item">
                                            History of early tooth loss, delayed
                                            eruption <br /> of permanent teeth, and
                                            chronic pain
                                        </li>
                                    </ul>
                                </li>
                                <li class="item">
                                    Father: No significant medical history to
                                    report
                                </li>
                            </ul>
                            <div class="thumbnails">
                                <PinchToZoom
                                    id="pt-3-desktop-image-1"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 165px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-3-desktop-image-1"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/hannah/hanna-rad-1-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/hannah/hanna-rad-1-mobile.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient">
                                            <p class="patient--color-black">
                                                Nontraumatic tooth loss at age 4
                                            </p>
                                            <small
                                                >Reproduced with permission from <br
                                                /> Kiselnikova L, et al. Clinical
                                                Case Reports. <br /> 2020;8(5):911-918.</small
                                            >
                                        </div>
                                    </div>
                                </PinchToZoom>
                            </div>
                        </Fragment>
                        <Fragment slot="symptoms">
                            <ul>
                                <li class="item">Short stature</li>
                                <li class="item">Mild knock knees</li>
                                <li class="item">Tired for past 3 months</li>
                                <li class="item">
                                    Struggling to keep up with peers in
                                    sports/outdoor activities
                                </li>
                                <li class="item">Impaired gait/mobility</li>
                                <li class="item">Difficulty sleeping</li>
                            </ul>
                        </Fragment>
                        <Fragment slot="medications">
                            <ul>
                                <li class="item">None</li>
                            </ul>
                        </Fragment>
                        <Fragment slot="results">
                            <h4 class="results__title">
                                CMP test results from:
                            </h4>
                            <div class="table__tabs">
                                <ul
                                    role="tablist"
                                    class="modal__table_tabs_list"
                                >
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-6"
                                            role="tab"
                                            id="tab-link-table-6"
                                            class="modal__inner_tab_link"
                                            aria-selected="true">Today</a
                                        >
                                    </li>
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-7"
                                            role="tab"
                                            id="tab-link-table-7"
                                            class="modal__inner_tab_link"
                                            tabindex="-1">1 year ago</a
                                        >
                                    </li>
                                </ul>
                                <section
                                    id="tab-table-6"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-6"
                                    aria-hidden="false"
                                    tabindex="-1"
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>9.3</p>
                                            <p>7.9</p>
                                            <p>4.2</p>
                                            <p>138</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    id="tab-table-7"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-7"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    hidden
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>9.1</p>
                                            <p>8.1</p>
                                            <p>4.2</p>
                                            <p>130</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <div class="thumbnails">
                                <PinchToZoom
                                    id="pt-3-desktop-image-3"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 137px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-3-desktop-image-3"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/hannah/hanna-rad-2-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/hannah/hanna-rad-2-mobile.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient">
                                            <p>
                                                <span class="patient--child"
                                                    >Currently presents with</span
                                                >
                                                <br />
                                                <span class="patient--main patient--main-not-capitalize"
                                                    ><span class="text--capitalize">m</span>ild knock knees</span
                                                >
                                            </p>
                                        </div>
                                    </div>
                                </PinchToZoom>
                                <PinchToZoom
                                    id="pt-3-desktop-image-2"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 136px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-3-desktop-image-2"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/hannah/hanna-rad-1-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/hannah/hanna-rad-1-mobile.png"
                                                alt=""
                                            />
                                        </picture>
                                        <div class="patient">
                                            <p
                                                class="patient--main patient--main-not-capitalize patient--color-black"
                                            >
                                                Nontraumatic tooth <br /> loss at
                                                age 4
                                            </p>
                                            <p class="patient--child mw--40ch">
                                                <span class="text--underline">Dental manifestations of hypophosphatasia in children and the effects of enzyme replacement therapy on dental status: A series of clinical cases</span> by Larisa Kiselnikova is licensed under <span class="text--underline">CC BY 4.0.</span>
                                            </p>
                                        </div>
                                    </div>
                                </PinchToZoom>
                            </div>
                        </Fragment>
                        <Fragment slot="notes">
                            <ul>
                                <li class="item">N/A</li>
                            </ul>
                        </Fragment>
                    </PatientCaseFileDesktop>
                </section><!-- panel Hanna -->
                <section
                    id="case-p-panel-4"
                    role="tabpanel"
                    aria-labelledby="case-link-to-panel-4"
                    aria-hidden="true"
                    tabindex="-1"
                    hidden
                >
                    <PatientCaseFileDesktop
                        name="Sarah"
                        age="7 months"
                        gender="Female"
                        description="A 7-month-old female with vitamin B-responsive seizures at birth. Does Sarah’s file remind you of any of your current patients?"
                        photo="/assets/images/case-files/sarah/photo-sarah-desktop.png"
                    >
                        <Fragment slot="medical">
                            <ul>
                                <li class="item">
                                    Vitamin B-responsive seizures at birth
                                </li>
                                <li class="item">
                                    History of craniosynostosis--corrective <br
                                    /> measures taken at 3 months
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="family">
                            <ul>
                                <li class="item">
                                    Mother: No significant medical history
                                </li>
                                <li class="item">
                                    Father: No significant medical history
                                </li>
                                <li class="item">
                                    Siblings: 2 older siblings with no
                                    remarkable <br /> medical history (ages 4 and
                                    10 years)
                                </li>
                            </ul>
                        </Fragment>
                        <Fragment slot="symptoms">
                            <ul>
                                <li class="item">Low weight and height</li>
                                <li class="item">Decreased head size</li>
                                <li class="item">
                                    Diagnosis of nutritional rickets
                                </li>
                                <li class="item">Thoracic deformity</li>
                            </ul>
                        </Fragment>
                        <Fragment slot="medications">
                            <ul>
                                <li class="item">Vitamin D supplement</li>
                            </ul>
                        </Fragment>
                        <Fragment slot="results">
                            <h4 class="results__title">
                                CMP test results from:
                            </h4>
                            <div class="table__tabs">
                                <ul
                                    role="tablist"
                                    class="modal__table_tabs_list"
                                >
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-8"
                                            role="tab"
                                            id="tab-link-table-8"
                                            class="modal__inner_tab_link"
                                            aria-selected="true">Today</a
                                        >
                                    </li>
                                    <li role="presentation">
                                        <a
                                            href="#tab-table-9"
                                            role="tab"
                                            id="tab-link-table-9"
                                            class="modal__inner_tab_link"
                                            tabindex="-1">6 months ago</a
                                        >
                                    </li>
                                </ul>
                                <section
                                    id="tab-table-8"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-8"
                                    aria-hidden="false"
                                    tabindex="-1"
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>10</p>
                                            <p>71</p>
                                            <p>3.9</p>
                                            <p>93</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                                <section
                                    id="tab-table-9"
                                    role="tabpanel"
                                    aria-labelledby="tab-table-9"
                                    aria-hidden="true"
                                    tabindex="-1"
                                    hidden
                                >
                                    <div class="acc-table">
                                        <div class="first-column">
                                            <h3>TEST</h3>
                                            <p>Calcium, mg/dL</p>
                                            <p>Protein, g/dL</p>
                                            <p>Albumin, g/dL</p>
                                            <p>Alkaline phosphatase, IU/L</p>
                                        </div>
                                        <div class="second-column">
                                            <h3>RESULT</h3>
                                            <p>10.6</p>
                                            <p>7.5</p>
                                            <p>4.2</p>
                                            <p>87</p>
                                        </div>
                                        <div class="second-column last-child">
                                            <h3>FLAG</h3>
                                            <p>High</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                            <p>&nbsp;</p>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <ul>
                                <li class="item">
                                    High vitamin B<sub>6</sub> level shown at test
                                    6 months ago
                                </li>
                                <li class="item">
                                    <em>ALPL</em> genetic test: Autosomal recessive
                                    inheritance
                                    <ul>
                                        <li class="item">
                                            Parental genetic testing reveals
                                            single <br /> gene variant in mother
                                            and father
                                        </li>
                                        <li class="item">
                                            Father's genetic variant reported as
                                            variant <br /> of uncertain significance
                                            (VUS)
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <div class="thumbnails">
                                <PinchToZoom
                                    id="pt-4-desktop-image-1"
                                    useDefaultButton={false}
                                >
                                    <div class="rad__thumbnail">
                                        <picture style="max-width: 175px;">
                                            <button
                                                data-panzoom-action="zoomToFull"
                                                data-content-id="pt-4-desktop-image-1"
                                                class="button button--pinch-to-zoom"
                                            ></button>
                                            <source
                                                srcset="/assets/images/case-files/sarah/sarah-asset-1-desktop.png"
                                                media="(min-width: 768px)"
                                            />
                                            <img
                                                src="/assets/images/case-files/sarah/sarah-asset-1-mobile.png"
                                                alt=""
                                            />
                                        </picture>
                                    </div>
                                </PinchToZoom>
                            </div>
                        </Fragment>
                        <Fragment slot="notes">
                            <ul>
                                <li class="item">N/A</li>
                            </ul>
                        </Fragment>
                    </PatientCaseFileDesktop>
                </section><!-- panel Sarah -->
            </div>
        </div>
    </div>

    <script>
        /**
         * #################################################################################################
         * CaseFileModal
         * #################################################################################################
         */

        import { Fancybox } from "@fancyapps/ui";

        class caseFileModalDesktop {
            caseFileModalDesktop: Fancybox;

            constructor() {
                this.caseFileModalDesktop = undefined;
            }

            open() {
                this.caseFileModalDesktop = new Fancybox(
                    [{ src: "case-files-modal--desktop" }],
                    {
                        autoFocus: true,
                        defaultType: "inline",
                        placeFocusBack: false,
                        trapFocus: false,
                        closeButton: false,
                        height: "auto",
                        mainClass: "case-files-modal--destkop",
                        dragToClose: false,
                        on: {
                            reveal: this.goToTab,
                            destroy: this.resetTabs
                        }
                    }
                );
            }

            goToTab() {
                const caseFileDesktopModal = document.querySelector('#case-files-modal-template-desktop')
                const dataActiveTab = caseFileDesktopModal.dataset.activeTab
                const newActiveTab = document.querySelector(`#case-link-to-panel-${dataActiveTab}`)
                if(newActiveTab) {
                    newActiveTab.click()
                }
            }

            resetTabs() {
                const caseFileDesktopModal = document.querySelector('#case-files-modal-template-desktop')
                caseFileDesktopModal.dataset.activeTab = 1
            }

            close() {
                this.caseFileModalDesktop.destroy();
            }
        }

        document.addEventListener("DOMContentLoaded", () => {
            const openCaseFilesModal = new caseFileModalDesktop();
            const buttons = document.querySelectorAll(
                ".case-files-modal-trigger--desktop"
            );
            const customTabLinks = document.querySelectorAll("[data-tab-id]");

            buttons.forEach((button) => {
                button.addEventListener("click", (event) => {
                    event.preventDefault();
                    const caseFileDesktopModal = document.querySelector('#case-files-modal-template-desktop')
                    let dataTab = event.target.dataset.caseFileTab
                    if(dataTab) {
                        caseFileDesktopModal.dataset.activeTab = dataTab
                    }
                    openCaseFilesModal.open();

                    const mainTablist: HTMLListElement = document.querySelector(
                        '#case-files-modal--desktop .case-files__main-tabs[role="tablist"]'
                    );
                    const tabs = mainTablist.querySelectorAll("a");

                    tabs.forEach((tab) => {

                        if (tab.ariaSelected) {
                            mainTablist.dataset.activeTab = tab.id;
                        }

                        tab.addEventListener("click", () => {
                            mainTablist.dataset.activeTab = tab.id;
                        });
                    });
                });
            });

            customTabLinks.forEach((link) => {
                link.addEventListener("click", (e) => {
                    e.preventDefault();
                    const tabLink = document.querySelector(
                        `a[href="#${link.getAttribute("data-tab-id")}"]`
                    ) as HTMLAnchorElement;
                    tabLink.click();
                });
            });
        });
    </script>
</div>
