---
type Props = {
    type: string;
};

import SkeletonInfo from "./SkeletonInfo.astro";
import data from "./data.js";

const { type } = Astro.props;
---

<section class="skeleton skeleton--desktop">
    <section class="skeleton__image--container">
        {
            type === "infants" ? (
                <img
                    class="skeleton__image"
                    src="/assets/images/hpp-profile/skeleton/skeleton-body-infants.png"
                    alt=" "
                />
            ) : (
                <img
                    class="skeleton__image"
                    src="/assets/images/hpp-profile/skeleton/skeleton-body-adults.png"
                    alt=" "
                />
            )
        }

        {
            data
                .filter((item) => item.type == type)
                .map((item) => (
                    <div
                        class={`skeleton__option skeleton__option--${
                            item.type
                        } ${item.active ? "skeleton__option--active" : ""}`}
                        data-word={item.id}
                        id={`${item.id}${
                            item.type === "infants" ? "" : "--" + item.type
                        }`}
                    >
                        <span class="skeleton__line skeleton__line--before" />
                        <span class="skeleton__line skeleton__line--after" />
                        <span class="skeleton__line skeleton__line--after2" />
                        <div class="skeleton__point" />
                        <div class="skeleton__word">
                            <img
                                class="skeleton__icon"
                                src={`/assets/images/hpp-profile/skeleton/${
                                    item.type == "infants"
                                        ? item.id.split("--infants")[0]
                                        : item.id
                                }-icon.svg`}
                                alt={item.id}
                            />
                            <img
                                class="skeleton__icon skeleton__icon--active"
                                src={`/assets/images/hpp-profile/skeleton/${
                                    item.type == "infants"
                                        ? item.id.split("--infants")[0]
                                        : item.id
                                }-icon-active.svg`}
                                alt={item.id}
                            />
                            <span class="skeleton__data">{item.word}</span>
                        </div>
                    </div>
                ))
        }
    </section>
    <SkeletonInfo type={type} data={data} />
</section>
